app-search {
    width: calc(100% - 110px);
}

.search-bar {
    display: flex;
}

button {
    width: 100px;
    height: 53px;
    margin: 3px 0 0 10px;
    background-color: #d8e0ff;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.mat-dialog-container {
    width: 20%;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}