button.loading {
    mat-spinner {
        display: inline;
    }

    .text {
        visibility: hidden;
    }
}

button.success {
    mat-icon.success {
        display: inline;
        position: absolute;
        color: var(--success-icon-color);
    }
    .text {
        visibility: hidden;
    }
}

button.failure {
    mat-icon.failure {
        display: inline;
        position: absolute;
        color: var(--failure-icon-color);
    }
    .text {
        visibility: hidden;
    }
}

.unavailable-text {
    max-width: 10em;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    color: var(--warn-color);
}

.additional-text {
    display: block;
}

.row {  
    width: 45%;
}

.send-to-btn {
    &:disabled {
        background-color: var(--primary-bold-disabled-color);
    }
    &:not(:disabled) {
        background-color: var(--primary-bold-color);
    }
}

button {
    min-width: 140px;
    max-width: 13em;
    width: 100%;
    height: fit-content !important;
    min-height: 2.5em;
    white-space: nowrap;
    
    mat-spinner {
        position: absolute;
        inset: 0;
        margin: auto;
        display: none;
    
        ::ng-deep circle {
            stroke: var(--muted-spinner-color) !important;
        }
    }

    mat-icon {
        vertical-align: middle;
        display: none;
        margin: auto;
        transform: scale(1.5);
    }

    ::ng-deep span {
        pointer-events: none;
    }
}

@media screen and (max-width: 450px) {
    button {
        min-width: fit-content;
        width: 47%;
    }

    .unavailable-text {
        display: none;
    }

    .additional-text {
        display: inline;
    }
}