/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


:root {
    --light-color: #fffbeb;
    --light-color-shade: #fffcf3;
    --dark-color: #2c2c2c;
    --main-background-color: var(--light-color);
    --main-text-color: var(--dark-color);
    --mdc-elevated-card-container-color: var(--main-background-color);
    --primary-tinted-color: #a88cdb;
    --success-icon-color: #4caf50;
    --failure-icon-color: #f44336;
    --muted-spinner-color: #303030;
}

html, body { height: 100%; width: 100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;     
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

input {
    font-size: 16px !important;
}

app-book:last-of-type {
    hr {
        display: none;
    }
}

app-root {
    width: 50%;
    height: 100%;
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dedication {
    display: none;
}

@media screen and (max-width: 1600px) {
    app-root {
        width: 60%;
    }
}

@media screen and (max-width: 1400px) {
    app-root {
        width: 70%;
    }
}

@media screen and (max-width: 1250px) {
    app-root {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    app-root {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    app-root {
        width: 94%;
    }
}

.mat-mdc-tab-body-wrapper {
    margin-top: calc(20px - 0.5em);
}

/*.search-bar {
    ::ng-deep.mat-badge-content {
        right: -3px !important;
        bottom: -3px !important;
    }
}*/

// Imports for Angular Material Theming
@import '@angular/material/theming';
@include mat-core();

$light-color: #fffbeb;
$dark-color: #2c2c2c;

$primary-light-theme: mat.define-palette(mat.$deep-purple-palette, 400);
$primary-dark-theme: mat.define-palette(mat.$purple-palette, 100);
$accent: mat.define-palette(mat.$amber-palette, 200, A200, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
    color: (
        primary: $primary-light-theme,
        accent: $accent,
        warn: $warn,
    ), 
    typography: mat.define-typography-config(), 
    density: 0
));

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $primary-dark-theme, 
        accent: $accent, 
        warn: $warn
    ), 
    typography: mat.define-typography-config(), 
    density: 0
));

$light-background: map-get($map: $theme, $key: background);
$light-background: map_merge($light-background, (background: $light-color));
$light-theme: map_merge($theme, (background: $light-background));

$dark-background: map-get($map: $dark-theme, $key: background);
$dark-background: map_merge($dark-background, (background: $dark-color));
$dark-theme: map_merge($dark-theme, (background: $dark-background));

@media (prefers-color-scheme: light) {
    @include mat.all-component-themes($light-theme);
    :root {
        --main-background-color: #fffbeb !important;
        --main-text-color: #2c2c2c !important;
        --autofill-color: #f5e9f7 !important;
        --accent-color: mat.get-color-from-palette($accent, 200);
    }

    mat-dialog-content,mat-dialog-actions {
        background-color: #fffcf3;
    }
    
    mat-card,.mat-mdc-autocomplete-panel {
        background-color: #fffcf3 !important;
    }
}
  
@media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);
    :root {
        --main-background-color: #2c2c2c !important;
        --main-text-color: #faede3 !important;
        --autofill-color: #471d4e !important;
        --accent-color: mat.get-color-from-palette($accent, default);
    }
}