<form name="resetForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
<mat-dialog-content>
    <h1>Forgot your password?</h1>
    <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
        <input matInput type="text" formControlName="username" name="username">
        <mat-error *ngIf="resetForm.get('username')?.errors?.['unauthenticated']">
          {{usernameError}}
        </mat-error>
    </mat-form-field>
    <p *ngIf="processStarted">An email containing a reset code and further instructions was sent to your email address <b>{{email}}</b>.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button #submitButton mat-flat-button color="primary" [disabled]="processStarted">
        <span class="text">Reset Password</span>
        <mat-spinner [diameter]="30"></mat-spinner>
        <mat-icon class="success">check_circle_outline</mat-icon>
    </button>
</mat-dialog-actions>
</form>