<mat-dialog-content *ngIf="userData">
    <button id="lgtBtn" mat-stroked-button color="warn" (click)="logout()">
        {{ 'logout' | translate }}
    </button>
    <h1>{{userData.username}}</h1>
    <h5>{{userData.email}}</h5>
    <h4>{{ 'select-your-language' | translate }}</h4>
    <div class="language">
        <img [ngClass]="{'selected' : userData.language == Language.EN}"
            (click)="setLanguage(Language.EN)"
            src="/assets/images/language-flags/en.svg">
        <img [ngClass]="{'selected' : userData.language == Language.DE}"
            (click)="setLanguage(Language.DE)"
            src="/assets/images/language-flags/de.svg">
    </div>
    <app-ereader-config [userRelatedData]="userData"></app-ereader-config>
</mat-dialog-content>
<mat-dialog-actions *ngIf="dataHasChanged()">    
    <button mat-stroked-button color="primary"  (click)="save()">
        {{ 'save' | translate }}
    </button>
    <button mat-stroked-button (click)="close()">
        {{ 'cancel' | translate }}
    </button>
</mat-dialog-actions>