@import '@angular/material/theming';
@import '../../../../styles.scss'; // /angular/src/styles.scss

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-dialog {
    padding: 20px 15px;
}

#lgtBtn,#messagesBtn {
    position: absolute;
    top: 18px;
    max-width: 25vw;
}

#lgtBtn {
    right: 24px;
}

#messagesBtn {
    left: 24px;
}

mat-expansion-panel {
    margin-bottom: 1em;
    border-radius: 4px !important;
}

mat-accordion {
    width: 100%;
}

app-ereader-config {
    width: 100%;
    margin-bottom: 17px;
}

app-social-reading-platform-config {
    width: 100%;
}

h1 {
    margin: 1.5em 0 0 0;
}

h5 {
    margin: 10px 0px 30px 0px;
}

h4 {
    margin: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

.language {
    display: flex;
    justify-content: center;

    img {
        padding: 0;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        margin: 15px;
        cursor: pointer;
    }

    .selected {
        border: solid 2px var(--primary-tinted-color);
    }
}

::ng-deep.friend-requests {
    margin-bottom: 2em;
}

.friend-request-amount {
    margin-left: 20px;
    top: 11px
}

.friend-request {
    background: mat-color($warn, lighter);
    color: var(--dark-color) !important;
    margin-bottom: 1em !important;

    .friend-request-action {
        display: flex;
        justify-content: space-evenly;

        button {
            max-width: 90px;
        }
    }

    ::ng-deep.mat-expansion-panel-body {
        padding: 0 4px 16px !important;
    }

    .mat-expansion-panel-header {
        background: mat-color($warn, lighter) !important;
        padding: 0 10px;
        text-align: center;

        ::ng-deep.mat-content {
            justify-content: center;
            color: var(--dark-color) !important;
        }

        ::ng-deep.mat-expansion-indicator::after {
            color: var(--dark-color) !important;
        }

        span::after  {
            color: var(--dark-color) !important;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-icon {
        margin: 0;
    }

    span {
        height: 2.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        background-color: var(--primary-tinted-color);
        color: var(--dark-color);
        border-radius: 4px;
    }
}

.settings-panel {
    ::ng-deep.mat-expansion-panel-body {
        padding: 0;
    }
}

.settings-panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-card {
        padding: 5px 24px;
        width: 100%;
        border-radius: 0;

        button {
            min-height: 36px;
            height: fit-content;
            line-height: 24px;
        }
    }

    mat-expansion-panel {
        width: 100%;
        margin-bottom: unset;
        border-radius: unset !important;
    }

    .mat-expansion-panel-header {
        min-height: 48px;
        height: fit-content;
        padding: 5px 24px;

        h4 {
            width: 100%;
        }
    }

    ::ng-deep.mat-expansion-panel-content {
        align-items: center;
    }

    ::ng-deep.mat-expansion-panel-body {
        width: calc(100% - 48px);
        padding-bottom: 16px;
    }
}