<div class="search-bar">
    <app-search [searchString]="searchString" [performScan]="performScan"></app-search>
    <button mat-fab (click)="openProfileDialog()" *ngIf="userService.getLocalUserData()?.username" aria-label="User"
    [matBadge]="userService.openNotifications()" [matBadgeHidden]="userService.openNotifications() < 1"
    matBadgePosition="below">
        <mat-icon>perm_identity</mat-icon>
    </button>
    <button mat-fab [matMenuTriggerFor]="loginMenu" *ngIf="!userService.getLocalUserData()?.username" aria-label="User"
    [matBadge]="userService.openNotifications()" [matBadgeHidden]="userService.openNotifications() < 1"
    matBadgePosition="below">
        <mat-icon>perm_identity</mat-icon>
    </button>
</div>

<mat-menu #loginMenu="matMenu">
    <app-login></app-login>
</mat-menu>