<mat-dialog-content>
    <h2>Register new user</h2>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.username"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="user.email"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="user.password"/>
    </mat-form-field>
    <app-ereader-config [userRelatedData]="user"></app-ereader-config>
</mat-dialog-content>
<mat-dialog-actions>    
    <button mat-stroked-button color="primary"  (click)="register()">
        Register
    </button>
    <button mat-stroked-button (click)="close()">
        Cancel
    </button>
</mat-dialog-actions>