
<form name="resetForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
    <mat-card *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </mat-card>
    <mat-card *ngIf="!isLoading">        
        <mat-card-title *ngIf="resetData.username">{{ 'reset-password' | translate }}</mat-card-title>
        <mat-card-content *ngIf="resetData.username">
            <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="username" name="username" placeholder="Username" appearance="outline" readonly="True">
                <mat-error *ngIf="resetForm.get('password')?.errors?.['unauthenticated']">
                {{passwordError}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="password" formControlName="password" name="password" placeholder="Password" appearance="outline">
                <mat-error *ngIf="resetForm.get('password')?.errors?.['unauthenticated']">
                {{passwordError}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput type="password" formControlName="repeatPassword" name="repeatPassword" placeholder="Repeat Password" appearance="outline">
                <mat-error *ngIf="resetForm.get('repeatPassword')?.errors?.['unauthenticated']">
                {{repeatPasswordError}}
                </mat-error>
            </mat-form-field>            
        </mat-card-content>
        <mat-card-content *ngIf="!resetData.username" class="expired">
            <img class="expired" src="assets/images/misc/time.png" *ngIf="!resetData.username">    
            <h2>{{ 'the-link-has-expired' | translate }}</h2>
            <h3>{{ 'request-password-reset-again' | translate }}</h3>
        </mat-card-content>
        <mat-card-actions *ngIf="resetData.username">
            <button id="submitButton" mat-flat-button color="primary">
                <span class="text">{{buttonText}}</span>
                <mat-spinner [diameter]="30"></mat-spinner>
                <mat-icon class="success">check_circle_outline</mat-icon>
                <mat-icon class="failure">highlight_off</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>