<form class="search-container" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="searchbox" appearance="outline" (click)="fetchData()">
        <mat-label>{{ 'search-for-your-book' | translate }}</mat-label>
        <input matInput #searchInput="matInput" [formControl]="$any(searchForm).get('input')"
        [matAutocomplete]="searchHistoryDD"/>        

        <mat-menu #langMenu="matMenu" class="lang-menu" backdropClass="customize">
            <button mat-menu-item (click)="selectedLang = ''" class="text">{{ 'any' | translate }}</button>
            <button mat-menu-item *ngFor="let language of languages | keyvalue" 
            (click)="selectedLang = language.value">
                <img src="/assets/images/flags/{{language.value}}.svg"></button>
        </mat-menu>

        <button mat-icon-button matSuffix class="clear" type="button" aria-label="Delete Search Text" *ngIf="searchHasText()" (click)="clearSearch()">
            <mat-icon class="material-symbols-rounded">close</mat-icon>
        </button>

        <button mat-icon-button matSuffix class="lang" type="button" *ngIf="searchHasText()" aria-label="Select Language" (click)="openMenu($event)" #langMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="langMenu">
            <mat-icon *ngIf="!selectedLang" class="material-symbols-rounded">language</mat-icon>
            <img src="/assets/images/flags/{{selectedLang}}.svg" *ngIf="selectedLang">     
        </button>
        
        <button class="search-button desktop" mat-icon-button matSuffix type="submit" aria-label="Search" (click)="$event.stopPropagation()">
            <mat-icon class="material-symbols-rounded">search</mat-icon>
        </button>
        <button class="scan-button mobile" mat-icon-button matSuffix *ngIf="!searchHasText()" (click)="scanBarcode($event)" aria-label="Scan Barcode">
            <mat-icon class="material-symbols-rounded">
                barcode_scanner
            </mat-icon>
        </button>

        <mat-error *ngIf="searchForm.get('input')?.invalid">
            {{ 'please-enter-min-chars' | translate: { arg: minimumLength } }}
        </mat-error>

        <mat-autocomplete #searchHistoryDD="matAutocomplete" class="search-history" (optionSelected)="submitForm()" hideSingleSelectionIndicator>
            <mat-option 
            *ngFor="let search of filteredSearchHistory | async | keyvalue: keyDescOrder" 
            [value]="search.value">

                <mat-icon class="material-symbols-rounded">history</mat-icon>
                {{search.value}} 
                <mat-icon (click)="deleteSearchHistoryEntry(search.key, $event)"
                 class="material-symbols-rounded clear-history">close</mat-icon>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
