h2 {    
    margin: auto;
    text-align: center;
}

.hidden-tabs {
    ::ng-deep.mat-mdc-tab-header {
        display: none !important;
    }
}

.chat-overview {
    display: flex;
    justify-content: space-between;
}
  

.title {
    display: flex;
    height: 48px;
    margin-top: 2em;
}

.back-btn {
    position: absolute;
}

app-chat-overview {
    width: 250px;
}

mat-tab-group {
    width: 100%;
}

app-chat {
    width: calc(100% - 265px);
}

@media screen and (max-width: 700px) {
    app-chat-overview {
        width: 100%;
    }

    app-chat {
        width: 100%;
    }
}