<div class="something">
    <div class="srp-config">
        <mat-form-field appearance="outline">
            <mat-label>{{ 'social-reading-platform' | translate }}</mat-label>
            <mat-select [(value)]="selectedSRP" hideSingleSelectionIndicator>
                <ng-container *ngFor="let platform of socialReadingPlatform | keyvalue">
                    <mat-option *ngIf="platform.value != socialReadingPlatform.NONE"
                    [value]="platform.value">{{platform.value}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <div class="action">
            <button mat-flat-button color="primary" *ngIf="!isConnected()" (click)="connect()" id="srp-action-btn">
                {{ 'connect' | translate }}
            </button>
            <button mat-flat-button color="primary" *ngIf="isConnected()" (click)="disconnect()" id="srp-action-btn">
                <span *ngIf="!disconnecting">{{ 'disconnect' | translate }}</span>
                <mat-spinner [diameter]="30" *ngIf="disconnecting"></mat-spinner>
            </button>
        </div>
    </div>
</div>