<div class="something">
    <div class="srp-config">
        <mat-form-field appearance="outline">
            <mat-label>Social Reading Platform</mat-label>
            <mat-select [(value)]="selectedSRP" hideSingleSelectionIndicator>
                <mat-option *ngFor="let platform of socialReadingPlatform | keyvalue"
                [value]="platform.value">{{platform.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="action">
            <button mat-flat-button color="primary" *ngIf="!isConnected()" (click)="connect()">Connect</button>
            <button mat-flat-button color="primary" *ngIf="isConnected()" (click)="disconnect()">
                <span *ngIf="!disconnecting">Disconnect</span>
                <mat-spinner [diameter]="30" *ngIf="disconnecting"></mat-spinner>
            </button>
        </div>
    </div>
</div>