<app-header/>
<div #dropZone class="drop-zone" (dragover)="dragOver($event)" (drop)="getMetadata($event)"
(dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)">
    <input type="file" class="file-upload" (change)="getMetadata($event)" #fileInput>

    <div class="drop-hint">
        <mat-icon fontIcon="file_upload" class="material-icons-outlined" inline="true"/>
        <p>Drag and drop an epub file here to upload.</p>
        <button #browseButton mat-flat-button color="primary" (click)="fileInput.click()">Browse File</button>
        <mat-error *ngIf="showError">Only Epubs are supported</mat-error>
    </div>
</div>
<div class="sync-request-filter">
    <mat-slide-toggle color="primary" [(ngModel)]="showMissing">Missing</mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="showUpcoming">Upcoming</mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="showSent">Sent</mat-slide-toggle>
</div>
<div class="sync-requests">
    <div *ngFor="let syncRequest of filteredSyncRequests()" class="sync-request"
     [ngClass]="status(syncRequest)" [matMenuTriggerData]="{syncRequest: syncRequest}"
     [matMenuTriggerFor]="syncRequest.status != 'SENT' ? requestContextMenu : null"
     >
        <div class="book-info">
            <span class="title" matTooltip="{{syncRequest.title}}"
             (click)="copyToClipboard(syncRequest.title)">
                {{syncRequest.title}}
            </span>
            <span>{{syncRequest.author}}</span>
        </div>
        <span class="requested-by">
            Requested {{parseSinceDate(syncRequest)}} by <span class="name">{{syncRequest.username}}</span>
        </span>
        <img class="lang-image" src="/assets/images/flags/{{syncRequest.language}}.svg"/>
    </div>
</div>

<button mat-button [matMenuTriggerFor]="requestContextMenu" class="hidden"></button>

<mat-menu #requestContextMenu="matMenu">
    <ng-template matMenuContent let-syncRequest="syncRequest">
        <button mat-menu-item *ngIf="syncRequest.status != 'SENT'" 
        (click)="markSent(syncRequest)">Mark as Sent</button>
    </ng-template>
</mat-menu>