.drop-zone {
    width: 100%;
    border: dashed gray 2px;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    

    input {
        display: none;
    }
}

.drop-hint {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: relative;
    margin: 0 2rem;
    text-align: center;
    
    mat-icon {
        font-size: 6rem;
        line-height: 6rem;
    }

    button {
        pointer-events: all;
        margin: 1rem 0;
        font-size: large;
    }

    mat-error {
        font-size: 1rem;
        position: absolute;
        bottom: -1rem;
    }
}

.drop-zone.drag-over {
    opacity: 50%;
}

.sync-requests {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 3rem;

    .sync-request {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: solid 1px gray;
        border-radius: 1rem;
        width: 16rem;
        max-width: 19;
        height: 8rem;

        .book-info {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 1.5rem;
                line-height: 1.5rem;
                max-width: calc(100% - 1rem - 2.7rem);
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0.5rem;
                white-space: nowrap;
            }

        }
        .requested-by {
            color: gray;

            .name {
                font-weight: bold;
            }
        }

        img {
            position: absolute;
            right: 0;
            width: 4.5rem;
            clip-path: circle();
        }
    }

    .sync-request.IGNORE {
        border: solid 1px gray;
    }

    .sync-request.WAITING {
        border: solid 1px orange;
    }

    .sync-request.UPCOMING {        
        border: solid 1px red;
    }

    .sync-request.SENT {
        border: solid 1px green;
    }
}

.sync-request-filter {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 642px) {
    .sync-requests {
        justify-content: center;
    }
}