<app-header/>
<div #dropZone class="drop-zone" (dragover)="dragOver($event)" (drop)="getMetadata($event)"
(dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)">
    <input type="file" class="file-upload" (change)="getMetadata($event)" #fileInput>

    <div class="drop-hint">
        <mat-icon fontIcon="file_upload" class="material-icons-outlined" inline="true"/>
        <p>Drag and drop an epub file here to upload.</p>
        <button mat-flat-button color="primary" (click)="fileInput.click()">Browse File</button>
        <mat-error *ngIf="showError">Only Epubs are supported</mat-error>
    </div>
</div>