::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

mat-tab-group {
    width: 100%
}

mat-form-field {
    width: 100%;
    margin-top: 0.5em;
}

.e-reader-config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0;
}

button {
    min-width: 12em;
    width: fit-content;
    height: 2.5em;

    mat-spinner {
        position: absolute;
        inset: 0;
        margin: auto;
        transform: translateX(-50%);

        ::ng-deep circle {
            stroke: var(--main-background-color) !important;
        }
    }

    mat-icon {
        vertical-align: middle;
    }

    ::ng-deep span {
        pointer-events: none;
    }
}

app-pocket-book-config {
    width: 100%;
}

.ereader-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.tolino-config {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin-top: 1em;
    }
}

.error-text {
    margin: 1em 0 -0.5em 0;
    color: #f44336;
    text-align: center;
}

.hide-text {
    -webkit-text-security: disc;
}

.password-visibility {
    cursor: pointer;
}