<div class="e-reader-config">
    <h4>{{ 'configure-your-ebook-reader' | translate }}</h4>
    <mat-tab-group mat-stretch-tabs dynamicHeight (selectedTabChange)="setEReader($event.index)"
        [(selectedIndex)]="activeEReader">    
        <mat-tab label="Kindle">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'enter-your-kindles-e-mail-here' | translate }}</mat-label>
                <input matInput [(ngModel)]="userRelatedData.eReaderEmail"/>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Tolino">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'device-id' | translate }}</mat-label>
                <input matInput [(ngModel)]="userRelatedData.eReaderDeviceId"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'refresh-token' | translate }}</mat-label>
                <input matInput [(ngModel)]="userRelatedData.eReaderRefreshToken"/>
            </mat-form-field>
            <button mat-stroked-button (click)="testAuth($event.target)" class="test-button">
                <span class="text">{{ 'test' | translate }}</span>
                <mat-spinner [diameter]="30"></mat-spinner>
                <mat-icon class="success">check_circle_outline</mat-icon>
                <mat-icon class="failure">highlight_off</mat-icon>
            </button>
        </mat-tab>
    </mat-tab-group>
</div>
