::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

mat-tab-group {
    width: 100%
}

mat-form-field {
    width: 100%;
}

.e-reader-config {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 0;
}

button.loading {
    mat-spinner {
        display: inline;
    }
    .text {
        display: none;
    }
}

button.success {
    mat-icon.success {
        display: inline;
        color: #4caf50;
    }
    .text {
        display: none;
    }
}

button.failure {
    mat-icon.failure {
        display: inline;
        color: #f44336;
    }
    .text {
        display: none;
    }
}


button {
    width: 6em;
    height: 2.5em;
    margin-top: -10px;

    mat-spinner {
        position: absolute;
        inset: 0;
        margin: auto;
        display: none;
    
        ::ng-deep circle {
            stroke: #303030 !important;
        }
    }

    mat-icon {
        vertical-align: middle;
        display: none;
    }

    ::ng-deep span {
        pointer-events: none;
    }
}