<div (click)="$event.stopPropagation();">
  <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" #lForm="ngForm" novalidate class="login-form">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" formControlName="username" name="username" placeholder="username" appearance="outline">
        <mat-error *ngIf="loginForm.get('username')?.errors?.['unauthenticated']">
          {{usernameError}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" name="password" placeholder="password" appearance="outline">
        <mat-error *ngIf="loginForm.get('password')?.errors?.['unauthenticated']">
          {{passwordError}}
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <button mat-flat-button type="button" class="forgot-pass-btn">forgot password?</button>
    <button mat-flat-button color="primary" class="login-btn">login</button>
    <button mat-flat-button type="button" class="btn-block" (click)="openRegisterDialog()">register</button>
  </form>
</div>