<div>
    <mat-form-field appearance="outline" color="primary">
        <mat-label>PocketBook Sync Service</mat-label>
        <mat-select [(ngModel)]="selectedPocketBookSyncType">
            <mat-option *ngFor="let pbSyncType of pocketBookSyncType | keyvalue" [value]="pbSyncType.value">
                {{pbSyncType.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-template [ngIf]="selectedPocketBookSyncType == pocketBookSyncType.POCKETBOOK_CLOUD">
        <ng-template [ngIf]="!pocketBookConfig.cloudConfig?.accessToken">
            <ng-template [ngIf]="!providers.length">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput [(ngModel)]="credentials.username" (keydown)="submit($event)" />
                </mat-form-field>
                <p *ngIf="errorText" class="error-text">{{errorText}}</p>
                <button [disabled]="!credentials.valid(true)" (click)="getProviders()" mat-flat-button color="primary">
                    <span *ngIf="!isLoading">Next</span>
                    <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
                </button>
            </ng-template>
            <ng-template [ngIf]="providers.length && !providerSelected">
                <div class="providers">
                    <mat-card class="provider" *ngFor="let provider of providers">
                        <mat-radio-button (change)="selectedProvider = provider">
                            <div class="provider-content">
                                <span>{{provider.name}}</span>
                                <img class="provider-icon" [src]="provider.icon" />
                            </div>
                        </mat-radio-button>
                    </mat-card>
                </div>
                <button [disabled]="!selectedProvider" (click)="providerSelected = true" mat-flat-button color="primary">
                    Next
                </button>
            </ng-template>
            <ng-template [ngIf]="selectedProvider && providerSelected">
                <div class="provider-password">
                    <img class="provider-icon" [src]="selectedProvider.icon" />
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'password' | translate }}</mat-label>
                        <input autocomplete="new-password" matInput [(ngModel)]="credentials.password" 
                        (keydown)="submit($event)" [ngClass]="{'hide-text' : isPasswordHidden}"/>
                        <mat-icon matSuffix *ngIf="isPasswordHidden" (click)="isPasswordHidden = false" 
                        class="password-visibility">visibility</mat-icon>
                        <mat-icon matSuffix *ngIf="!isPasswordHidden" (click)="isPasswordHidden = true" 
                        class="password-visibility">visibility_off</mat-icon>
                    </mat-form-field>
                </div>
                <p *ngIf="errorText" class="error-text">{{errorText}}</p>
                <button [disabled]="!credentials.valid()" (click)="connect()" mat-flat-button color="primary">
                    <span *ngIf="!isLoading">Connect</span>
                    <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
                </button>
            </ng-template>
        </ng-template>
        <ng-template [ngIf]="pocketBookConfig.cloudConfig?.accessToken">
            <button mat-flat-button color="primary" (click)="disconnect()">
                <span *ngIf="!isLoading">Disconnect</span>
                <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
            </button>
        </ng-template>
    </ng-template>
    <ng-template [ngIf]="selectedPocketBookSyncType == pocketBookSyncType.SEND_TO_POCKETBOOK">
        <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput [(ngModel)]="pocketBookConfig.sendToEmail" (keydown)="submit($event)"/>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="setEmail()" [disabled]="!shouldSetEmail()">
            Set
        </button>
    </ng-template>
</div>


<!--<mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
        <mat-form-field appearance="outline">
            <mat-label>Enter your PocketBooks E-Mail here</mat-label>
            <input matInput [(ngModel)]="email"/>
        </mat-form-field>
    </mat-tab>
    <mat-tab>
        <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput [(ngModel)]="email"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="email"/>
        </mat-form-field>
    </mat-tab>
</mat-tab-group>-->