.book {
    position: relative;
    display: flex;
    width: calc(100% - 2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 8px;
}

.book-details {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 13em - 5.33em - 2rem);
    width: 100%;
}

.unavailable-banner {
    display: none;
}

.cover {    
    height: 8em;
    width: 5.33em;
    margin: auto 1em auto 0;
    border-radius: 4px;
}

.cover.hidden {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
}

.cover.placeholder.hidden {
    display: none;
}

.cover:hover {
    cursor: pointer;
    scale: 1.2;
}

.lang {
    margin-right: 1em;
    height: 1em;
    vertical-align: middle;
}

.title-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.auto-scroll:hover {
    overflow: unset;
    text-overflow: unset;
    animation: scrollText 5s infinite linear;
    animation-play-state: running;
    width: calc(100% - 48px);
}

.title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    animation-play-state: paused;
}

@keyframes scrollText {
    to {
      transform: translateX(-100%);
    }
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5em 0;
}

app-download-cluster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
}

.mobile {
    display: none;
}

.author {
    font-size: 16px;
    cursor: pointer;
}

.year {
    display: block;
}

.contact-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 1em;
        margin: auto;

        button {
            margin: 0.25em 0;
            width: calc(100% - 68px);
        }
    }

    .add-message {
        cursor: pointer;
        margin-left: 0.5em;
    }
}

.title-blocker {
    height: 48px;
    width: 48px;
    right: 0;
    position: absolute;
    background-color: var(--main-background-color);
}

.share.desktop {
    display: block;
}

.share.mobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .book {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        padding: 0.8em;
        gap: 1em;
        width: calc(100% - 1.6em);
    }

    hr {
        display: none;
    }

    .cover {
        height: 9em;
        width: 6em;
        margin-right: 0;
        //height: calc(55vh - 2.5em);
        //width: fit-content;
    }

    .cover:hover {
        scale: unset;
    }

    .head {
        margin: unset;
        margin-top: 0.5em;
        margin-bottom: 1em;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 0.5em;
    }

    .lang {
        margin-right: auto;
        //position: absolute;
    }

    .title-container {
        display: block;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .title {
        display: inline;
        font-size: 18px;
        line-height: 20px;
        //display: inline-block;
        //width: 100%;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
        white-space: wrap;
        animation-play-state: paused;
    }

    .author {
        font-size: 16px;
        line-height: 18px;
    }

    .year {
        float: right;
        font-size: 15px;
        line-height: 17px;
    }

    .book-details {
        width: calc(100% - 7.33em);
        max-width: calc(100% - 7.33em);
    }

    app-download-cluster {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: inherit;
    }

    .share.mobile {
        display: block;
        float: right;
        backdrop-filter: blur(140px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(0.9);

        mat-icon {
            margin-left: -3px;
            margin-top: -1px;
        }
    }

    .book.unavailable {
        .share.mobile {
            top: 1.4em;
        }
    }

    .share.desktop {
        display: none;
    }

    .unavailable-banner {
        display: block;
        position: absolute;
        width: 100%;
        margin-top: -0.8em;
        text-align: center;
        font-weight: 500;
        line-height: 2em;
        border-radius: 4px 4px 0 0;
        background-color: var(--warn-color);
    }
    
}