<div *ngIf="book" class="book">
    <img class="cover" src="{{book.cover_url == 'img/blank.png' ? '/assets/images/covers/blank.png' : 'https://libgen.li/' + book.cover_url}}"
    (click)="enlarge()"/>
    <div class="book-details">
        <div>
            <div class="head">
                <img class="lang" src="/assets/images/flags/{{book.language}}.svg"/>
                <div class="title-container">
                    <h1 class="title" #title >{{book.title}}</h1>
                </div>
            </div>
            <h3>{{book.author || "author unknown"}}</h3>
        </div>
        <app-download-cluster [book]="book" class="mobile" [mode]="BOOK">            
        </app-download-cluster>
    </div>
    <app-download-cluster [book]="book" class="desktop" [mode]="BOOK">
        
    </app-download-cluster>
</div>
<hr>