<div *ngIf="book" class="book">
    <!--<img *ngIf="!isImgLoaded" class="cover" aria-label="Book Cover Placeholder" src="/assets/images/covers/loading-cover.png"/>-->
    <img  (load)="isImgLoaded = true" loading="lazy" class="cover" aria-label="Book Cover" src="{{book.cover_url == 'img/blank.png' ? '/assets/images/covers/blank.png' : 'https://libgen.li/' + book.cover_url}}"
    (click)="enlarge()"/>
    <div class="book-details">
        <div>
            <div class="head">
                <img class="lang" src="/assets/images/flags/{{book.language}}.svg" aria-label="Book Language"/>
                <div class="title-container">
                    <h1 #title class="title" (window:resize)="setAutoScroll(title)">{{book.title}}</h1>
                </div>
            </div>
            <span class="author">{{book.author || "author unknown"}}</span>
            <span class="delimiter" *ngIf="book.year"> | </span>
            <span class="year" *ngIf="book.year">{{book.year}}</span>
        </div>
        <app-download-cluster [book]="book" class="mobile" [mode]="BOOK">            
        </app-download-cluster>
    </div>
    <app-download-cluster [book]="book" class="desktop" [mode]="BOOK">
        
    </app-download-cluster>
</div>
<hr>