<div *ngIf="book" class="book" [ngClass]="{'unavailable' : book.id == 999999999, 'local' : localBookAvailable}">
    <div class="unavailable-banner" *ngIf="book.id == 999999999">
        {{ 'not-available-yet' | translate }}
    </div>
    <mat-icon *ngIf="book.local" class="material-symbols-rounded local-symbol" matTooltip="{{ 'fast-download-available' | translate }}">bolt</mat-icon>
    <img (load)="isImgLoaded = true" loading="lazy" [class.skeleton]="!isImgLoaded" class="cover" 
        aria-label="Book Cover" src="{{coverUrl}}"
    (click)="enlarge()"/>
    <div class="book-details">
        <div>
            <div class="head">
                <img class="lang" src="/assets/images/flags/{{book.language}}.svg" aria-label="Book Language"/>
                <div class="title-container">
                    <button mat-icon-button color="primary" class="share mobile" [matMenuTriggerFor]="contactMenu">
                        <mat-icon class="material-symbols-rounded">share</mat-icon>
                    </button>
                    <h1 #title class="title" (mouseover)="setAutoScroll(title)">{{book.title}}</h1>
                    <div class="title-blocker desktop"></div>
                    <button mat-icon-button color="primary" class="share desktop" [matMenuTriggerFor]="contactMenu">
                        <mat-icon class="material-symbols-rounded">share</mat-icon>
                    </button>
                </div>
            </div>
            <span class="author" (click)="searchAuthor()">{{book.author || "author unknown"}}</span>
            <span class="year" *ngIf="book.year && book.year != 0">{{book.year}}</span>
        </div>
    </div>
    <app-download-cluster [book]="book" class="mobile" [mode]="BOOK" [currEReader]="currentEReader">            
    </app-download-cluster>
    <app-download-cluster [book]="book" class="desktop" [mode]="BOOK" [currEReader]="currentEReader">
        
    </app-download-cluster>
</div>

<mat-menu #contactMenu yPosition="above">
    <ng-template matMenuContent>
        <div class="contact-menu">
            <h3 *ngIf="userData.contacts.length < 1">{{ 'no-friends-yet' | translate }}</h3>
            <h3 *ngIf="userData.contacts.length > 0">{{ 'send-book-to' | translate }}</h3>
            <div *ngFor="let contact of userData.contacts" class="contact">
                <button mat-flat-button color="primary" (click)="shareBook(contact.name)">
                    {{contact.name}}
                </button>
                <mat-icon color="accent" class="add-message material-symbols-rounded" (click)="openAddMessageDialog(contact.name)">note_add</mat-icon>
            </div>
        </div>
    </ng-template>
</mat-menu>