@import '@angular/material/theming';
@import '../../../styles.scss'; // /angular/src/styles.scss

.book {
    display: flex;
    width: 100%;
}

.book-details {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 230px);
}

.cover {    
    height: 6em;
    width: 4em;
    margin-right: 1em;
}

.cover.hidden {
    width: 0;
    height: 0;
}

.cover:hover {
    cursor: pointer;
}

.lang {
    margin-right: 1em;
    height: 1em;
    vertical-align: middle;
}

.title-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auto-scroll:hover {
    overflow: unset;
    text-overflow: unset;
    animation: scrollText 5s infinite linear;
    animation-play-state: running;
}

.title {
    display: inline-block;
    width: 48em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    animation-play-state: paused;
}

@keyframes scrollText {
    to {
      transform: translateX(-100%);
    }
}

.head {
    display: flex;
    align-items: baseline;
}

app-download-cluster {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
}

.mobile {
    display: none;
}

.year {
    display: block;
}

.contact-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 1em;
        margin: auto;
    }

    .add-message {
        cursor: pointer;
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 1250px) {
    .title {
        width: 48vw;
    }
}

@media screen and (max-width: 700px) {
    .book {
        flex-direction: column;
        margin-bottom: 2em;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 0.8em;
        border-radius: 4px;
        width: calc(100% - 1.6em);
    }

    hr {
        display: none;
    }

    .cover {
        height: calc(55vh - 2.5em);
        width: fit-content;
        max-width: 75%;
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3em;
    }

    .title {
        width: 14em;
        font-size: 22px;
        line-height: 24px;
    }

    .author,.year {
        font-size: 15px;
        line-height: 17px;
    }

    .year {
        float: right;
    }

    .book-details {
        width: 100%;
        max-width: 100%;
    }

    app-download-cluster {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: inherit;
    }

    .share {
        border: 1px mat-color($accent) dashed;
        border-radius: 100%;
    }
    
}