mat-tab-group {
    margin-top: 2rem;
}

mat-form-field {
    margin-top: 2rem;
}

h1 {
    margin-top: 2rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22rem);
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 4rem;
    justify-content: center;
}

.info-container {
    width: 100%;
    overflow: hidden;
}

.read-progress {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
    .done {
        color: var(--success-icon-color);
    }
}

.book {
    position: relative;
    display: flex;
    width: 22rem;

    h2 {
        font-size: 18px;
        margin-bottom: 0.25rem;
    }

    --b: 1.5px;   /* thickness of the border */
    --c: rgb(255 255 255 / 38%);   /* color of the border */
    --w: 10px;  /* width of border */
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    //--_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p);
    border-radius: 4px;
}

.battleBtn {
    //position: absolute;
    //top: 1.75rem;
    //right: 1.25rem;
    border-radius: 0 0 4px 4px;
    width: 100%;

    mat-icon {
        margin: 0;
    }
}

mat-progress-bar {
    width: 5.33em;
    margin-bottom: 1rem;
}

.cover {
    position: relative;
    z-index: 10;
    height: 8em;
    width: 5.33em;
    margin: auto 1em auto 0;
    border-radius: 4px;
}

::ng-deep.mat-mdc-tab-body:has(.cover:hover),
::ng-deep.mat-mdc-tab-body-wrapper:has(.cover:hover),
::ng-deep.mat-mdc-tab-body-content:has(.cover:hover) {
    overflow: visible !important;
}

.cover:hover {
    cursor: pointer;
    scale: 1.2;
}