<app-header/>
<h1>{{ 'your-reading-progress' | translate }}</h1>
<div class="books">
    <mat-spinner *ngIf="!progressFetched" />
    <p *ngIf="progressFetched && books.length < 1" class="info">{{ 'no-progress-found' | translate }}</p>
    <div *ngFor="let book of books" >
        <div class="book">
            <div>
                <img loading="lazy" class="cover" 
                aria-label="Book Cover" src="{{book.coverUrl}}"
                (click)="enlarge(book)"/>
                <mat-progress-bar mode="determinate" [value]="book.progress"></mat-progress-bar>
            </div>
            <div class="info-container">
                <app-book-title [title]="book.title" />
                <h3>{{book.author}}</h3>
                <div class="read-progress">
                    <span>{{book.progress}}% {{ 'read' | translate }}</span>
                    <mat-icon class="done material-symbols-rounded" *ngIf="book.progress > 94">
                        check_circle
                    </mat-icon>
                </div>
            </div>
        </div>
        <button class="battleBtn" mat-flat-button color="accent">
            <mat-icon aria-hidden="false" fontIcon="swords" class="material-symbols-rounded" />
        </button>
    </div>
</div>