<div class="user-btn">
    <button mat-fab (click)="openProfileDialog()" *ngIf="userService.getLocalUserData()?.username" 
        aria-label="User" [matBadge]="userService.openNotifications()" 
        [matBadgeHidden]="userService.openNotifications() < 1" matBadgePosition="below">
        <mat-icon class="material-symbols-rounded">person</mat-icon>
    </button>
    <button mat-fab [matMenuTriggerFor]="loginMenu" *ngIf="!userService.getLocalUserData()?.username" 
    aria-label="User" [matBadge]="userService.openNotifications()" 
    [matBadgeHidden]="userService.openNotifications() < 1" matBadgePosition="below">
    <mat-icon class="material-symbols-rounded">person</mat-icon>
    </button>
</div>
<app-search></app-search>
<mat-menu #loginMenu="matMenu">
    <app-login></app-login>
</mat-menu>