app-search {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.mat-mdc-fab {
    position: absolute;
    top: 6px;
    right: 0;
    background-color: var(--primary-tinted-color);
}