/*.searchField {
    width: 80vw;
    height: 12vh;
}*/



app-search {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
/*.searchbox {
    width: 80%;
    margin: 0 20px 0 20px;

    mat-icon:hover {
        cursor: pointer;
    }
}*/


  